body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --background-color: #262424;
  --color-text: white;
  --main: #3d3b3b
}



[data-theme='light']
{
  --background-color: #cfcfcf;
  --color-text: black;
  --main:linear-gradient(270deg, rgb(80, 80, 80) 60%, rgb(33, 128, 131) 88%)
}

body {
  background: var(--background-color);
  color: var(--color-text);
}



